.receiptForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.label {
  margin: 5px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.label select {
  width: 40%;
}
