/* do something with item apperiance. */
/* custom allerts */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.shopping {
  width: 90%;
  height: 90%;
  max-width: 500px;
  max-height: 700px;
  border: 1px solid black;
  border-radius: 5px;
  overflow-y: auto;
}

h1 {
  margin: 8%;
}

input {
  height: 30px;
  width: 60%;
  border: 1px solid black;
  border-radius: 5px;
  text-indent: 2%;
}

.add {
  height: 30px;
  width: 30%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
  font-weight: 700;
  opacity: 0.8;
  transition: 0.2s;
}

.add:hover {
  opacity: 1;
}

li {
  display: flex;
  justify-content: left;
  width: 100%;
  padding: 7px;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
  overflow-wrap: normal;
}

.item {
  width: 70%;
}

.delete {
  font-size: 0.8rem;
  font-weight: 700;
  color: white;
  width: 1.4rem;
  height: 1.4rem;
  background: rgb(255, 0, 0);
}

.blue {
  color: blueviolet;
}

/* Custom scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 5px;
}
